<app-work-header [isNested]="true" [title]="plan?.title" [search]="false">
    <flag-displayer></flag-displayer>
</app-work-header>

<ion-content [fullscreen]="true">
    <div class="list-wrapper">
        <ion-list>
            <item-visualizer
                *ngFor="let exe of exercises ; let i = index"
                [isOpen]="i === currentExercise"
            >
            </item-visualizer>
        </ion-list>
    </div>

    <ion-fab class="create-btn">
        <ion-fab-button olor="primary">
            <ion-icon name="pause-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
