<app-work-header [isNested]="true" [title]="plan?.title" [search]="false">
    <flag-displayer
        [duration]="plan?.duration"
        [items]="categories | async"
    ></flag-displayer>
</app-work-header>

<ion-content [fullscreen]="true">
    <div class="list-wrapper">
        <ion-list>
            <item-visualizer
                *ngFor="let exe of exercises ; let i = index"
                [isOpen]="i === currentExercise"
                [title]="exe.title"
                [duration]="exe.duration"
                [rangeValue]="i === currentExercise ? currentValue : 0"
            >
            </item-visualizer>
        </ion-list>
    </div>

    <ion-fab (click)="togglePlayback()" class="create-btn">
        <ion-fab-button olor="primary">
            <ion-icon
                [name]="this.isPlaying ? 'pause-outline' : 'play-outline'"
            ></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
