.queue {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 10px;

    span {
        color: #5f5f5f;
    }

    span:first-child {
        padding: 5px 15px;
        color: white;
        background-color: #9324c1;
        border-radius: 10px;
    }
}
