ion-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ion-toolbar,
ion-header {
    height: auto;
}

ion-title {
    text-align: left;
    margin-top: 10px;
    font-size: 24px;
}

ion-searchbar {
    width: 100%;
    margin-top: 10px;
    --border-radius: 10px;
    --box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    ::ng-deep {
        .searchbar-input-container {
            .searchbar-input {
                border-radius: 10px;
            }
        }
    }
}

@media (max-width: 576px) {
    ion-toolbar ion-searchbar {
        max-width: 100%;
    }
}

ion-buttons {
    margin-top: 10px;
    color: #4478cb;
}

h1 {
    margin-left: 30px;
    font-weight: bold;
    font-size: 32px;
}

.custom-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.custom-button-1 {
    --background: #ff5400;
    width: 100%;
    color: white;
}

.custom-button-2 {
    --background: #004e89;
    width: 100%;
    color: white;
}

ion-grid {
    margin-top: 12px;
    gap: 10px;

    ion-row {
        gap: 2px;
    }
}

.text-header {
    padding: 0 25px;
}

.content {
    padding: 0 45px;
}
