<ion-header>
    <ion-toolbar>
        <ion-buttons *ngIf="isNested" slot="start">
            <ion-back-button default-href="#"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon
                    slot="icon-only"
                    name="help-circle-outline"
                ></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-toolbar class="text-header">
        <h1 *ngIf="!editable">{{ title }}</h1>
        <text-field [value]="title" *ngIf="editable"></text-field>
    </ion-toolbar>

    <ion-toolbar *ngIf="!editable" class="custom-toolbar">
        <ion-searchbar
            [debounce]="1000"
            (ionInput)="handleChange($event)"
        ></ion-searchbar>
    </ion-toolbar>

    <ion-toolbar class="content">
        <ng-content></ng-content>
    </ion-toolbar>
</ion-header>
