.separator {
    height: 3px;
    background-color: #f6f6f6;
}

.separator-bar {
    margin-top: 26px;
    margin-bottom: 10px;
    margin-left: 22px;
    margin-right: 22px;
}

.ion-buttons-end {
    justify-content: flex-end;
}

ion-buttons {
    color: #6a778a;
}

ion-fab {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    margin-bottom: 10px;
}

ion-grid {
    margin-bottom: 90px;
}
