<app-work-header
    [isNested]="true"
    [arrayList]="cards"
    title="Meus Planos"
    (result)="handleResult($event)"
>
    <div class="container">
        <horizontal-slider
            (selectionChanged)="selectedCategoriesChanged($event)"
            [arrayList]="categories"
        >
        </horizontal-slider>
    </div>
</app-work-header>

<ion-content [fullscreen]="true">
    <ion-spinner
        *ngIf="isLoading"
        class="spinner"
        name="crescent"
    ></ion-spinner>

    <div *ngIf="!isLoading">
        <div class="separator-bar">
            <ion-buttons slot="end" class="ion-buttons-end">
                <ion-button color="">
                    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
            <div class="separator"></div>
        </div>
        <ion-grid>
            <ion-row class="card-row card-wrapper">
                <ion-col
                    size="6"
                    size-md="3"
                    size-lg="3"
                    *ngFor="let card of results"
                >
                    <app-card
                        (eventClick)="handleClick($event)"
                        (click)="handleClick(card)"
                        (isSelected)="selectionChanged($event)"
                        [id]="card.id"
                        [image]="card.image"
                        [title]="card.title"
                        [time]="card.time"
                        [isFavorite]="card.isFavorite"
                        icon="star"
                    ></app-card>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-fab>
            <ion-fab-button (click)="createPlan()">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div>
</ion-content>
