<app-work-header
    [isNested]="true"
    [title]="planTitle"
    [editable]="true"
    (editValue)="planTitleChanged($event)"
>
    <flag-displayer [categories]="categories"></flag-displayer>
</app-work-header>

<ion-content [fullscreen]="true">
    <div class="separator-bar">
        <ion-buttons slot="end" class="ion-buttons-end">
            <ion-button (click)="addExercise()" color="">
                <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button color="">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <div class="separator"></div>
    </div>
    <div class="list-wrapper">
        <ion-list>
            <ion-reorder-group
                [disabled]="false"
                (ionItemReorder)="handleReorder($any($event))"
            >
                <reorder-item
                    *ngFor="let item of choosenExercises"
                    [title]="item.title"
                    [time]="item.duration"
                ></reorder-item>
            </ion-reorder-group>
        </ion-list>
    </div>

    <ion-button (click)="createPlan()" class="create-btn" expand="block"
        >Criar Plano</ion-button
    >
</ion-content>
