.notify {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px 10px;
    border: 2px solid var(--ion-color-gray);
    border-radius: 10px;
    gap: 20px;
    transition: all 100ms ease-in-out;

    .content {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .icon {
        display: flex;
        height: 100%;
        height: 100%;
    }
}

.notify:active {
    border-color: lightblue;
}
