.card-row {
    margin-left: -3px;
    margin-right: -3px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.queue {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

ion-text {
    text-align: center;

    .header-title {
        color: #575757;
        font-weight: bold;
    }
}
