<app-work-header
    [arrayList]="cards"
    title="Bem-vindo"
    (result)="handleResult($event)"
>
    <ion-grid>
        <ion-row>
            <ion-col size-sm="5.9" size="5.9">
                <ion-button class="custom-button-1"> Meus Planos </ion-button>
            </ion-col>
            <ion-col size-sm="5.9" size="5.9">
                <ion-button class="custom-button-2">
                    Planos de Treino
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</app-work-header>

<ion-content [fullscreen]="true">
    <swiper>
            <ion-grid>
                <ion-row class="card-row card-wrapper">
                    <ion-col
                        size="6"
                        size-md="3"
                        size-lg="3"
                        *ngFor="let card of results"
                    >
                        <app-card
                            (click)="handleClick(card)"
                            [image]="card.image"
                            [title]="card.title"
                            [time]="card.time"
                            [isFavorite]="card.isFavorite"
                            icon="star"
                        ></app-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-content>
        <ion-content *swiperPage>
            <ion-grid>
                <ion-row class="card-row card-wrapper">
                    <ion-col
                        size="6"
                        size-md="3"
                        size-lg="3"
                        *ngFor="let card of results"
                    >
                        <app-card
                            (click)="handleClick(card)"
                            [image]="card.image"
                            [title]="card.title"
                            [time]="card.time"
                            [isFavorite]="card.isFavorite"
                            icon="star"
                        ></app-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-content>
        <ion-content *swiperPage>
            <ion-grid>
                <ion-row class="card-row card-wrapper">
                    <ion-col
                        size="6"
                        size-md="3"
                        size-lg="3"
                        *ngFor="let card of results"
                    >
                        <app-card
                            (click)="handleClick(card)"
                            [image]="card.image"
                            [title]="card.title"
                            [time]="card.time"
                            [isFavorite]="card.isFavorite"
                            icon="star"
                        ></app-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-content>
        </div>
    </swiper>
</ion-content>
