<app-work-header
    [arrayList]="cards"
    title="Bem-vindo!"
    (result)="handleResult($event)"
>
    <div class="queue">
        <ion-toolbar>
            <flat-button bgColor="#FF5400">Meus Planos</flat-button>
        </ion-toolbar>
        <ion-toolbar>
            <flat-button bgColor="#004E89">Planos de Treino</flat-button>
        </ion-toolbar>
    </div>
</app-work-header>

<ion-content [fullscreen]="true">
    <swiper (realIndex)="handleChangeIndex($event)">
        <ion-content *swiperPage>
            <ion-text>
                <h1>Planos Favoritos</h1>
            </ion-text>

            <ion-grid>
                <ion-row class="card-row card-wrapper">
                    <ion-col
                        size="6"
                        size-md="3"
                        size-lg="3"
                        *ngFor="let card of planFav"
                    >
                        <app-card
                            (click)="handleClick(card)"
                            [image]="card.image"
                            [title]="card.title"
                            [time]="card.time"
                            [isFavorite]="card.isFavorite"
                            icon="star"
                        ></app-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-content>
        <ion-content *swiperPage>
            <ion-text>
                <h1>Planos Recomendados</h1>
            </ion-text>

            <ion-grid>
                <ion-row class="card-row card-wrapper">
                    <ion-col
                        size="6"
                        size-md="3"
                        size-lg="3"
                        *ngFor="let card of planRec"
                    >
                        <app-card
                            (click)="handleClick(card)"
                            [image]="card.image"
                            [title]="card.title"
                            [time]="card.time"
                            [isFavorite]="card.isFavorite"
                            icon="star"
                        ></app-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-content>
        <ion-content *swiperPage>
            <ion-text>
                <h1>Planos Mais Populares</h1>
            </ion-text>

            <ion-grid>
                <ion-row class="card-row card-wrapper">
                    <ion-col
                        size="6"
                        size-md="3"
                        size-lg="3"
                        *ngFor="let card of planPop"
                    >
                        <app-card
                            (click)="handleClick(card)"
                            [image]="card.image"
                            [title]="card.title"
                            [time]="card.time"
                            [isFavorite]="card.isFavorite"
                            icon="star"
                        ></app-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-content>
    </swiper>
</ion-content>
