<app-work-header
    [arrayList]="cards"
    title="Bem-vindo"
    (result)="handleResult($event)"
></app-work-header>

<ion-content [fullscreen]="true">
    <swiper>
        <div *swiperPage>
            <check-button> </check-button>
        </div>
        <div *swiperPage>
            <ion-grid>
                <ion-row class="card-row card-wrapper">
                    <ion-col
                        size="6"
                        size-md="3"
                        size-lg="3"
                        *ngFor="let card of results"
                    >
                        <app-card
                            (click)="handleClick(card)"
                            [image]="card.image"
                            [title]="card.title"
                            [time]="card.time"
                            [isFavorite]="card.isFavorite"
                            icon="star"
                        ></app-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </swiper>
</ion-content>
