<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="statistics">
      <ion-icon aria-hidden="true" name="bar-chart-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="schedule">
      <ion-icon aria-hidden="true" name="calendar-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon aria-hidden="true" name="settings-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon aria-hidden="true" name="person-sharp"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
