<app-work-header [isNested]="true" [search]="false" title="Plano 1">
    <flag-displayer [hasAgenda]="true" (open)="openModal()"></flag-displayer>
</app-work-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row class="center">
            <ion-col
                *ngFor="let imageContainer of results; let i = index"
                class="card-container"
            >
                <div class="container">
                    <ng-container *ngIf="i === 0">
                        <img class="radius" [src]="imageContainer.image" />
                        <div class="image-text">{{ imageContainer.title }}</div>
                        <div class="image-subtext">
                            {{ imageContainer.qt }} Calorias
                        </div>
                    </ng-container>
                    <ng-container *ngIf="i === 1">
                        <div
                            class="clickable container"
                            (click)="handleClick(imageContainer.material)"
                        >
                            <img class="radius" [src]="imageContainer.image" />
                            <div class="image-text-button">
                                {{ imageContainer.title }}
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="separator-bar">
        <ion-buttons slot="end" class="ion-buttons-end">
            <ion-button color="">
                <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
            <ion-button
                color=""
                (click)="isEmpty() ? presentToast('top', 'Não tem nenhum exercício selecionado!') : setOpen(true)"
            >
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <div class="separator"></div>
    </div>
    <div class="list-wrapper">
        <ion-list *ngFor="let exercise of exercises">
            <exercise
                [title]="exercise.title"
                [duration]="exercise.duration"
                (click)="addToSelected(exercise)"
            ></exercise>
        </ion-list>
    </div>

    <ion-button class="create-btn" expand="block">Começar</ion-button>
    <ion-action-sheet
        [isOpen]="isActionSheetOpen"
        header="Tem a certeza que deseja remover estes exercícios?"
        [buttons]="actionSheetButtons"
        (didDismiss)="setOpen(false)"
    ></ion-action-sheet>
</ion-content>
