<ion-content [fullscreen]="true">
    <div class="layout">
        <ion-img src="./assets/loginImage.png"></ion-img>

        <form [formGroup]="authForm" (ngSubmit)="handleClick()" action="">
            <ion-text color="darkblue">
                <h1>WorkInOut</h1>
            </ion-text>

            <div class="input-container">
                <ion-input
                    formControlName="email"
                    label="e-mail"
                    label-placement="floating"
                    fill="outline"
                    placeholder="Enter text"
                ></ion-input>
                <p
                    *ngIf="authForm.get('email').touched && authForm.get('email').errors?.['required']"
                >
                    Este campo é obrigatório. Por favor, preencha-o.
                </p>
                <p
                    *ngIf="authForm.get('email').touched && authForm.get('email').errors?.['email']"
                >
                    Por favor, insira um e-mail válido.
                </p>
            </div>

            <div class="input-container">
                <ion-input
                    formControlName="password"
                    type="password"
                    label="palavra-passe"
                    label-placement="floating"
                    fill="outline"
                    placeholder="Enter text"
                ></ion-input>

                <p
                    *ngIf="authForm.get('password').touched && authForm.get('password').errors?.['required']"
                >
                    Este campo é obrigatório. Por favor, preencha-o.
                </p>
                <p
                    *ngIf="authForm.get('password').touched && authForm.get('password').errors && !authForm.get('password').errors?.['required']"
                >
                    A palavra-passe deve ter de 6 a 16 caracteres.
                </p>
            </div>

            <ion-button type="submit">
                <span *ngIf="!isLoading">Entrar</span>
                <ion-spinner *ngIf="isLoading" name="dots"></ion-spinner>
            </ion-button>
            <ion-text color="gray">
                <p>Esqueceu-se da palavra-passe?</p>
            </ion-text>
        </form>
        <div class="buttons-container">
            <button><ion-icon name="logo-google"></ion-icon></button>
            <button><ion-icon name="logo-facebook"></ion-icon></button>
            <button><ion-icon name="logo-microsoft"></ion-icon></button>
        </div>
    </div>
</ion-content>
