<ion-content [fullscreen]="true">
    <div class="layout">
        <ion-img src="./assets/loginImage.png"></ion-img>

        <form action="">
            <ion-text color="darkblue">
                <h1>Welcome</h1>
            </ion-text>

            <ion-input
                label="e-mail"
                label-placement="floating"
                fill="outline"
                placeholder="Enter text"
                error-text="Please enter a valid email"
            ></ion-input>

            <ion-input
                label="palavra-passe"
                label-placement="floating"
                fill="outline"
                placeholder="Enter text"
                error-text="Please enter a valid email"
            ></ion-input>

            <ion-button>Entrar</ion-button>
            <ion-text color="gray">
                <p>Esqueceu-se da palavra-passe?</p>
            </ion-text>
        </form>
        <div>
            <ion-button>o</ion-button>
            <ion-button>o</ion-button>
            <ion-button>o</ion-button>
        </div>
    </div>
</ion-content>
