<div class="item">
    <div *ngIf="isOpen" class="content">
        <swiper [isTopDown]="true">
            <div *swiperPage class="video-view">
                <!-- <video
                    style="width: 100%; position: absolute"
                    [autoplay]="true"
                >
                    <source [src]="videoUrl" type="video/mp4" />
                </video> -->
            </div>
            <div *swiperPage></div>
        </swiper>
    </div>
    <div (click)="handleClick()" class="header">
        <span>Alongamento Cobra</span>
        <span>00:20</span>
    </div>
</div>
