<div class="item">
    <div *ngIf="isOpen" class="content">
        <swiper [isTopDown]="true">
            <div *swiperPage class="video-view">
                <img
                    *ngIf="video_url"
                    [src]="video_url"
                    alt="Imagem do vídeo"
                />
            </div>
            <div *swiperPage></div>
        </swiper>
    </div>
    <div class="header">
        <div>
            <span>{{ title }}</span>
            <span>{{ displayer }}</span>
        </div>
        <ion-range
            [value]="rangeValue"
            (ionChange)="onIonChange($event)"
            [disabled]="true"
            aria-label="Range with ionChange"
        ></ion-range>
    </div>
</div>
