<app-work-header [search]="false" title="Agenda"></app-work-header>

<ion-content [fullscreen]="true">
    <div class="date-picker-container">
        <ion-datetime
            id="myDatePicker"
            locale="pt-PT"
            presentation="date"
            value="2022-04-21T00:00:00"
            [min]="getMinDate()"
            max="2028-05-31T23:59:59"
            (ionChange)="getSelectedDate($event)"
        ></ion-datetime>
    </div>
    <div class="schedule">
        <ion-text>
            <h1>Planos</h1>
            <schedual-notification
                (eventClick)="handleNotification($event)"
                *ngFor="let notification of notifications"
                [id]="notification.id"
                [title]="notification.title"
                [startDate]="notification.started_at"
                [isSelected]="notification.is_active"
            ></schedual-notification>
        </ion-text>
    </div>
</ion-content>
