<app-work-header [isNested]="true" [title]="title" [editable]="true">
    <flag-displayer [items]="selectedCategories | async"></flag-displayer>
</app-work-header>

<ion-content [fullscreen]="true">
    <ion-searchbar placeholder="Pesquisar" [debounce]="1000"></ion-searchbar>

    <horizontal-slider [arrayList]="categories"> </horizontal-slider>

    <div class="list-wrapper">
        <ion-list *ngFor="let exercise of results">
            <exercise
                [title]="exercise.title"
                [duration]="exercise.duration"
                [selected]="exercise.isSelected"
                (click)="addToSelected(exercise)"
            ></exercise>
        </ion-list>
    </div>

    <ion-button
        (click)="isEmpty() ? presentToast('top', 'Não tem nenhum exercício selecionado!') : presentToast('top', 'Os exercícios foram adicionados ao Plano!')"
        class="create-btn"
        expand="block"
        >Adicionar</ion-button
    >
</ion-content>
