ion-card {
    img {
        height: 100%;
    }
}

ion-card-header {
    text-align: center;
}

.card-row {
    margin-left: -3px;
    margin-right: -3px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

ion-grid {
    margin-bottom: 20px;
}
