<app-work-header [isNested]="true" [search]="false" title="Dicas">
</app-work-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row class="card-row card-wrapper">
            <ion-col
                size="6"
                size-md="3"
                size-lg="3"
                *ngFor="let hint of hints"
            >
                <app-card-hint
                    (click)="handleClick(hint)"
                    [id]="hint.id"
                    [title]="hint.title"
                    [description]="hint.description"
                    [image]="hint.image"
                    icon="flag"
                ></app-card-hint>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
